/* Custom CSS goes here */
body {
  padding-bottom: 10px;
  font-family: 'Rubik', sans-serif;
  }

  nav{
    height: 100px;
  } 
  .navbar-nav a{
  color:#FF4742;
  margin-top: 20px;
}

#logo{
 padding-left: 20px; 
}
.container-title {
    text-align: center;
    display: block;
    
  }
  .flex-wrapper, footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    display: flex;
    min-height: 8vh;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    height:30px; background:#000; color:#fff;
  }
  
 
h1 {
  font-size: 46px;
}
.div_title {
    padding:150px;
}
  #big_button {
    display: inline-block;
    border-radius: 8px;
    background-color:#FF4742;
    border: none; 
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 25px;
    width: 320px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 50px;
  }

  #homeLogin {
    display: inline-block;
    border-radius: 8px;
    background-color:#FF4742;
    border: none; 
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 25px;
    width: 320px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 50px;
  }

  #homeRegister {
    display: inline-block;
    border-radius: 8px;
    background-color:#219ebc;
    border: none; 
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 25px;
    width: 320px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 50px;
  }
  
  #big_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #big_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #big_button:hover span {
    padding-right: 25px;
  }
  
  #big_button:hover span:after {
    opacity: 1;
    right: 0;
  }


#btns,  #detailPageSubmitBtn {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#detailPageSubmitBtn{
  font-size: 18px;
  line-height: 25px;
}

#btns:hover,
#btns:active,
#detailPageSubmitBtn:hover,
#detailPageSubmitBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

#btns:active,
#detailPageSubmitBtn:active {
  opacity: .5;
}


.form-control1 {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  width: 100%;
} 
/**/
#btns2 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

#btns2:hover,
#btns2:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#btns2:hover {
  transform: translateY(-1px);
}

.btns2:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}



#btns3 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex; 
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width:49%;
}


#btns3:hover,
#btns3:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#btns3:hover {
  transform: translateY(-1px);
}

.btns3:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#create_btn{ 
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#create_btn:hover,
#create_btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

#create_btn:active {
  opacity: .5;
}


.section-gray {
  background: #f7f8fa;
  padding: 30px 0 70px 0;
  width: 100%;
  height: auto;
}

.section-tittle {
  text-align: center;
}
.section-tittle h2 {
  color: #292929;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #023e8a;
}

.form-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 500px;
  max-width: 100%;
  margin: 50px auto;
}



.header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
  text-align: center;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  height: auto;
  border: 0;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
  padding-right: 10px;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
  padding-right: 10px;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  color: #e74c3c;
  visibility: visible;
  padding-left: 15px;

}

.form button {
  background-color: #219ebc;
  border: 2px solid #219ebc;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.submission {
  /* margin-top: 50px; */
  text-align: center;
  display: block;
}

.submission > div {
  margin-left: 20px;
  margin-bottom: 15px;
  width: 200px;
  display: inline-block;
}

.validationError {
  background-color: #dc2f02;
  color: white;
  border-radius: 2px;
  padding:6px;
}

.validationSuccess {
  background-color: #56CC71;
  color: white;
  border-radius: 2px;
}

::placeholder {
  font-size: 10px;
  color: rgb(150, 150, 150);
}

