<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="NameTextField">Name</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Survey Name" name="name" value="<%= surveys.Name %>" required>
              </div>
              <div class="form-group">
                <label for="DescriptionTextField">Description</label>
                <input type="text" class="form-control" id="DescriptionTextField"
                placeholder="Survey Description" name="description" value="<%= surveys.Description %>"  required>
              </div>
              <div class="form-group">
                <label for="CompanyTextField">Company</label>
                <input type="text" class="form-control" id="CompanyTextField"
                placeholder="Survey Company" name="company" value="<%= surveys.Company %>"  required>
              </div>
             
             <!-- <% if (title.search("Edit Survey") > -1 ) { %>
                <button type="submit" id="submitButton" class="btn btn-primary">
                           <i class="fas fa-edit fa-lg"></i>Edit
                       </button>
                       <% } else { %>
                        <button type="submit" id="submitButton" class="btn btn-primary">
                           <i class="fas fa-plus-square">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>Add
                       </button>
                        
                       <% } %> --> -->
              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/surveys" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
