<div id="questionHere">
  <div class="newDiv"><label>Question</label>
    <input id="questionInput" name="Question1" value="<%= item.Question1 %>" class="form-control1"
      placeholder="Enter Question" type="text" required>
    <select id="btns4" style="width: 83%;">
      <option>Short Answer</option>
      <!-- <option>Agree/Disagree</option> -->
    </select>
    <a onclick="this.parentNode.remove();" id="btns4">Delete</a>
  </div>

  <div class="newDiv"><label>Question</label>
    <input id="questionInput" name="Question2" value="<%= item.Question2 %>" class="form-control1"
      placeholder="Enter Question" type="text" required>
    <select id="btns4" style="width: 83%;">
      <option>Short Answer</option>
      <!-- <option>Agree/Disagree</option> -->
    </select>
    <a onclick="this.parentNode.remove();" id="btns4">Delete</a>
  </div>

  <div class="newDiv"><label>Question</label>
    <input id="questionInput" name="Question3" value="<%= item.Question3 %>" class="form-control1"
      placeholder="Enter Question" type="text" required>
    <select id="btns4" style="width: 83%;">
      <option>Short Answer</option>
      <!-- <option>Agree/Disagree</option> -->
    </select>
    <a onclick="this.parentNode.remove();" id="btns4">Delete</a>
  </div>

</div>